._*
.DS_Store
.DS_Store?
.Spotlight-V100
.Trashes
*.7z
*.bak
*.class
*.code-workspace
*.com
*.dll
*.dmg
*.exe
*.gz
*.iso
*.jar
*.log
*.o
*.rar
*.so
*.sql
*.sqlite
*.tar
*.zip
*~
ehthumbs.db
Thumbs.db

# Jekyll
_site
.sass-cache
.jekyll-metadata
